<nav class="btn-group-vertical" role="group">
  <a class="btn btn-{% if 'home' in request.resolver_match.url_name %}outline-{% endif %}secondary" 
     href="{% url 'main:home' %}">Accueil</a>
     
  <a class="btn btn-{% if 'list_transactions' in request.resolver_match.url_name %}outline-{% endif %}secondary" 
     href="{% url 'main:list_transactions' %}">Transactions</a>
     
  <a class="btn btn-{% if 'list_stocks' in request.resolver_match.url_name %}outline-{% endif %}secondary" 
     href="{% url 'main:list_stocks' %}">Stocks</a>
</nav>

