{% extends "base.html" %}

{% block title_url %}Editer Produit{% endblock %}
{% block title_page %}Editer Produit{% endblock %}


{% block content %}
<div class="container mt-4">
    <h2 class="mb-2">Modification du produit <span style="font-size: .8em; background-color: lightgray; border-radius: .5em; padding: .1em .2em">{{ form.initial.produit }}</span></h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <a href="{% url 'main:list_stocks' %}" class="btn btn-secondary">Annuler</a>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{% url 'main:delete_stock' form.instance.id %}" class="btn btn-danger">Supprimer</a>
    </form>
</div>
{% endblock %}